---
import NavBarLink from "./NavBarLink.astro";
---

<div class="w-full border-b border-gray-800">
  <div class="mx-auto flex max-w-7xl items-center px-3 xl:px-0">
    <h2 class="py-3 text-xl font-bold">
      <NavBarLink href="/" title="home"> Physical Media Catalogue </NavBarLink>
    </h2>

    <div class="flex grow items-center justify-end">
      <NavBarLink href="/" title="home">Home</NavBarLink>
    </div>
  </div>
</div>
