---
import "@/styles/global.css";

import NavBar from "@/components/NavBar/index.astro";

interface Props {
  /** Prefix added to the page title */
  title_prefix?: string;
  /** Wrap the contents of the layout in a container element */
  container?: boolean;
  /** Classes applied to the container element */
  container_class?: string;
}

const { title_prefix, container = true, container_class } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>
      {(title_prefix ? title_prefix + " | " : "") + "Physical Media Frontend"}
    </title>
  </head>

  <body>
    <NavBar />

    {
      container ? (
        <div class={`mx-auto max-w-7xl p-3 xl:px-0 ${container_class || ""}`}>
          <slot />
        </div>
      ) : (
        <slot />
      )
    }
  </body>
</html>
